<h1>Productos</h1>

<button (click)="onCreate()">Crear producto</button>
<div class="table-container">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
      let pro of products;
      let i = index
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      ">
      <td >{{ i + 1 }}</td>
      <td>{{ pro.name }}</td>
      <td>{{ pro.price | currency:'USD':'symbol' }}</td>
      <td>{{ pro.stock }}</td>
      <td>
        <button (click)="onEdit(pro)">Editar</button>
        <button (click)="onDelete(pro.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- Modal -->
<div class="modal-backdrop" *ngIf="isModalOpen">
  <div class="modal">
    <app-product-form
      [product]="selectedProduct"
      (save)="onSave($event)"
      (cancel)="onCancel()">
    </app-product-form>
  </div>
</div>

